
* {
  box-sizing: border-box;
}
.App {
  text-align: left;

  border: 2px solid #d3d3d3;
  border-radius: .5em;
 
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 50px;
}




.button-group {
  display: flex;
  justify-content:space-around;
 


}







h5 {
  padding-top:10px;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 20s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(15, 14, 14, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    
  
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1024px) and (max-width: 1280px) {
 
  Form{
    width:100%;
   height:500px ;
  font-size:45px;
 margin-top:50px;
  }  
    Form ::placeholder{
      font-size: 30px;
      
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
  Form{
    width:100%;
   height:500px ;
  font-size:45px;
 margin-top:50px;
  }  
    Form ::placeholder{
      font-size: 25px;
      
    }
  }
    
    
  
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
   
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
   
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
  .jumbo{
    margin-bottom:0;
   
  }
   
.button-group {
  display: flex;
  flex-direction:column;
  justify-content:space-between;
 


}
  
 
}