html,
* {
  font-family: Avenir;
}
body {
  box-sizing: border-box;
  background-color: white;
}
.App-logo {
  width: 260px;
  height: 80px;
  padding: 20px 0px 40px 0px;
  margin-left: 20px;
}

.Background-design {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ce322f;

  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;

  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  border-radius: 10px;
  z-index: -1;
}

.Background-design-two {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 15%;
  background-color: #030303;
  margin: 5px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;

  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  border-radius: 100px;
  z-index: -1;
}

.Background-design-three {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 10%;
  background-color: #ce322f;
  margin: 5px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;

  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  border-radius: 100px;
  z-index: -1;
}
.Background-design-four {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #030303;
  margin: 5px;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;

  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  border-radius: 100px;
  z-index: -1;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 20px 0px 30px;
}
.image {
  width: 500px;
  border-radius: 15px;
}

.codEmpire {
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px 0px 0px;
  z-index: -1;
}

.App-header {
  background-color: #000000;
  max-width: 450px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  border-radius: 40px;
}

.App-header a {
  color: white;
}

.Title {
  font-family: Avenir;
  font-weight: 300;
  color: #606060;
  font-size: 2rem;
  align-items: flex-start;
  padding: 15px 0px 0px 0px;
}

.Timer {
  color: white;
  font-size: 30px;
  padding: 60px 50px 0px 0px;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
}

.Game_Enter {
  padding: 30px;
}

.Enter {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.Quiz-title {
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin: 0px 50px 0px 0px;
}

.MuiButtonBase-root {
  width: 200px;
  height: 50px;
}

.Paper {
  width: 50%;
  height: auto;
  padding: 15px;
  margin: 50px;
}

.Paper-one {
  width: auto;
  height: auto;
  padding: 25px;
  margin: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.Paper-two {
  width: auto;
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: 10px 50px 10px 50px;
}

.Final-score {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.score {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
  width: 20%;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}

.choices {
  display: flex;
  flex: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 5px 0px 5px 0px;
}

.Questions {
  font-family: Avenir;
  font-size: 1rem;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.Previous {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.Next {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #c0b1b0;
}

.MuiButton-root {
  text-transform: none !important;
}

.Add {
  padding: 5px;
}

.Add-Enter {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0px 50px 20px 0px;
}

.Add-cancel-plus {
  display: flex;
  justify-content: left;
  margin: 10px 0px 0px 50px;
}

.Add-cancel {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: right;
  align-content: right;
  justify-content: flex-end;
}

.Create-play-result {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  border-radius: 10px;
}

.Create {
  padding: 50px 0px 10px 20px;
}

.Play {
  padding: 20px 0px 10px 60px;
}

.Result {
  padding: 20px 0px 10px 20px;
}

