
*{
  padding: 0;
  margin: 0;
  box-align: border-box;
}

body{
  background: #c6ae82;
  min-height: 100vh;
  
}

.footer{
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: #3e4140;
    background: #a8936b;
}

/* //header// */
.header{
  min-height: 8rem;
  padding: 0 4rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background: #a8936b;
}

.logo{
  width: 250px;
}

.logo img{
  max-width: 100%;
}

.nav ul li{
  display: block;
  margin: 0 .5rem;
  
}
.nav ul{
display: flex;
}

.navLink{
  text-decoration: none;
 color: #3e4140;
}

.navLink:hover{
color: red;
}


/* //sign up */
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  width: 800px;
  margin: auto;
}

.main h1{
  color: #3e4140;
}

.user{
  width: 100px;
   
}

.user img{
  max-width: 100%;
  color: #6e7271;
}

.btnSection{
  margin-top: 3rem;
display: flex;
justify-content: space-around;
width: 100%;
}

.form {
  min-width: 300px;
  height: 300px;
}

.form input{
  width: 90%;
  padding: 1rem;
  margin: .5rem 0;
  border-radius: 10px;
  border: none;
}

.btn{
  display: block;
  padding: 1rem;
  border-radius: 10px;
   border: none;
   cursor: pointer;
   background:  #a8936b;
   color: #2c2e2d;
   font-size: 13px;
}

.student:hover{
  background: rgb(190, 15, 15);
  color: white;
}

.mentor:hover{
   background: rgb(190, 15, 15);
  color: white;
}


@media screen and (max-width: 805px){
  .header {
    -webkit-background: red;
    -ms-background: row;
  background: red;
  }
}

