
.footer{

  text-align: center;
   position: fixed;
   
   left: 0;
   bottom: 0;
   width: 100%;
    /* background: #a8936b; */
     background: #34495e;
   color: white;
}

@media screen and (max-width: 600px){
  .footer {
  background: #34495e;
  color: white;
  }
}