.navbar {
  background-color: transparent;
}

.logo {
  width: 25vw;
}


.ml-auto .navItem .navLink:hover{
color: #CC2F36;
}

  
@media only screen and (max-width: 768px){
  .logo {
  width: 30vw;
}
 .nav-link{
   font-size:35px;
   margin-right:50px;
 }
  
  }

  
 @media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar {
      width:100%;
      height:100px;
    }

   .logo {
  width: 30vw;
}

    
  }
  
 
  
@media only screen and (min-width: 992px) {
     
   .logo {
  width: 290px;
}


  }